# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
dist/
build/
site/
htmlcov/
.coverage
coverage.xml

# Envs
.env
.env.*
venv/
.venv/

# Editor/IDE
.idea/
.vscode/

# Logs
*.log

# Node (if any frontend later)
node_modules/

